<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include templates/header.ejs %>

    <h1 class="title"><%= title %></h1>
    <!-- <p>Welcome to <%= title %></p> -->
    <!-- <p><%= users[0].password %></p> -->
    <table>
      <tr>
        <th>userID</th>
        <th>username</th>
        <th>email</th>
        <th>telephone</th>
      </tr>

      <!-- for each user, display the user details in a row-->
      <% users.forEach( (user) => { %>
      <tr>
        <td><%= user.userID %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.telephone %></td>
      </tr>

      <% }); %>

    </table>

  </body>
</html>
